.container{
    width:100%;
    height:10%;
    background-color: blueviolet;
}
.jumbotron{
    width: 100%;
    background-color: blueviolet;
    height: 10%;
}

.navbar{
    text-align: center;
    height:50%;
}